:root{
    --color-white: #fff;
    --color-blue: #0265fa;
    --color-dark: #272727;  
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
background-color:#fff;
color: #000000;
}
.navBar{
    gap: 30px;
    z-index: 2;
}
.navBar a{
    text-decoration: none;
    color:#fff; 
    transition: 1s;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
}
.header,.navBar{
    display: flex;
    flex-direction: row;
    align-items: center;   
    padding: 0 10%;
}
.header{
    background-color: #78aeff;
    height: 70px;
    width: auto;
    box-shadow: 1px 1px 5px;
    justify-content: space-between;
}
.ativo{
    background-color: #0265fa;
    padding: 10px 70px;
    border-radius: 10px;
}
.pesquisa{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    border-radius: 50px;
    margin-right: 0px;
    width: 300px;
    height: 35px;
    border: none;
}
.content1{
    text-align: center;
    padding-top: 5em;
    transition: 1s;
    height: 10vh;   
}
.imagem0{
    width: 30px;
    margin-left: 50px;
}
.btn_icon_bar{
width: 30px;
background-color: transparent;
color: white;
cursor: pointer;
display: none;
border: none;
}

@media screen and (max-width: 720px) {
    .btn_icon_bar{
        display: block;
    }
    .navBar{
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: #002966;
        height: 100%;
        width: 35vw;
        gap: 10px;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    .imagem{
        display: none;
    }
    @keyframes showSidebar {
        from{margin-left: -100vw;}
        top{margin-left: -10vw;}
    }
}